[mysqld]
user=mysql                           
port=3306                            
basedir = /usr/local/mysql
datadir=/data/mysql/data             
socket=/tmp/mysql.sock        

[mysqld_safe]
log-error=/data/mysql/mysql-error.log       
pid-file=/data/mysql/mysql.pid    

[client]
socket=/tmp/mysql.sock        
